fastapi
uvicorn[standard]
sqlalchemy
python-jose[cryptography]
passlib[bcrypt]
python-multipart
aiofiles
httpx
pillow
rembg
google-generativeai
requests
meilisearch
python-dotenv
numpy
torch
faiss-cpu
open-clip-torch
openai
PyJWT
beautifulsoup4
